MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=jardinage_db
MYSQL_USER=jardinage
MYSQL_PASSWORD=password123

SECRET_KEY=change-this-secret-key
ADMIN_EMAIL=admin@gardening.com
ADMIN_PASSWORD=password11@

MAIL_USERNAME=
MAIL_PASSWORD=
